In [1]:
import pandas as pd
import numpy as np

In [3]:
lista = [['BRASIL','BRASIL','BRASIL','ARGENTINA','ARGENTINA','ARGENTINA'],[2017,2018,2019,2017,2018,2019]]
tuplas = zip(*lista)

In [4]:
tuplas

In [6]:
tuplas = list(tuplas)
tuplas

[('BRASIL', 2017),
 ('BRASIL', 2018),
 ('BRASIL', 2019),
 ('ARGENTINA', 2017),
 ('ARGENTINA', 2018),
 ('ARGENTINA', 2019)]

In [9]:
multi = pd.MultiIndex.from_tuples(tuplas)
multi

MultiIndex([(   'BRASIL', 2017),
            (   'BRASIL', 2018),
            (   'BRASIL', 2019),
            ('ARGENTINA', 2017),
            ('ARGENTINA', 2018),
            ('ARGENTINA', 2019)],
           )

In [12]:
df1 = pd.DataFrame(data=np.random.randn(6,2), index=multi, columns=['EXP Trigo','EXP Arroz'])
df1

                EXP Trigo  EXP Arroz
BRASIL    2017  -0.362852  -0.753418
          2018   0.256673   1.202729
          2019  -1.343926   0.282182
ARGENTINA 2017  -0.187436  -1.677742
          2018  -0.432263   1.036811
          2019   0.134973   0.291814

In [15]:
df1.index.names = ['PAIS','ANO']
df1

                EXP Trigo  EXP Arroz
PAIS      ANO
BRASIL    2017  -0.362852  -0.753418
          2018   0.256673   1.202729
          2019  -1.343926   0.282182
ARGENTINA 2017  -0.187436  -1.677742
          2018  -0.432263   1.036811
          2019   0.134973   0.291814

In [16]:
df1.xs(2017,level=1)

           EXP Trigo  EXP Arroz
PAIS
BRASIL     -0.362852  -0.753418
ARGENTINA  -0.187436  -1.677742

In [17]:
df1[:2]

             EXP Trigo  EXP Arroz
PAIS   ANO
BRASIL 2017  -0.362852  -0.753418
       2018   0.256673   1.202729

In [19]:
df2 =df1.unstack()

In [20]:
df2["EXP Trigo"]

ANO            2017      2018      2019
PAIS
ARGENTINA -0.187436 -0.432263  0.134973
BRASIL    -0.362852  0.256673 -1.343926

In [21]:
df2.xs(2017,axis=1,level=1)

           EXP Trigo  EXP Arroz
PAIS
ARGENTINA  -0.187436  -1.677742
BRASIL     -0.362852  -0.753418